# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
build/
client/build
client/public/uploads/doodles
client/public/uploads/products
!client/public/uploads/pages/
client/public/uploads/pages/*
!client/public/uploads/pages/about
client/public/uploads/pages/about/*
!client/public/uploads/pages/about/default
!client/public/uploads/pages/contact
client/public/uploads/pages/contact/*
!client/public/uploads/pages/contact/default
!client/public/uploads/pages/doodles
client/public/uploads/pages/doodles/*
!client/public/uploads/pages/doodles/default
!client/public/uploads/pages/general
client/public/uploads/pages/general/*
!client/public/uploads/pages/general/default
!client/public/uploads/pages/main
client/public/uploads/pages/main/*
!client/public/uploads/pages/main/default
!client/public/uploads/pages/order
client/public/uploads/pages/order/*
!client/public/uploads/pages/order/default





# misc
config.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
