//colors

$mainText: #5c5c5c;
$highlight: #3685f5;

$highlightGroup: rgb(87, 35, 170);

$inputBorder: #929292;
$inputText: #6796d8;

$btnSuccess: rgb(28, 182, 92);
$btnDanger: rgb(223, 85, 85);
$btnWarning: rgb(221, 183, 101);
